<h1>POSTS</h1>

<div>
     <% @posts.each do |post| %>
        <div>
          <%= post.id%>.
          <%= post.user.name %>
          <br />
          <br />
          <%= post.content %>
          <br />
          ================================================
        </div>
     <% end %>
</div>


<%= form_with(model:Post.new, local:true) do |form| %>

  <%= form.label :user_id %>
  <%= form.text_field :user_id %>

  <br/>
  <%= form.label :content %>
  <%= form.text_area :content%>

  <br/><br/>
  <%= form.submit "送信"%>
<% end %>
